[Unit]
Description=Lock the screen on sleep
Before=sleep.target suspend.target hibernate.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=run/user/1000
ExecStart=/usr/bin/hyprlock
ExecStartPost=/usr/bin/sleep 1
TimeoutSec=infinity
Restart=always
RestartSec=3

[Install]
WantedBy=suspend.target sleep.target hibernate.target
